<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--BrokerID-->
    <add key="BrokerID" value="2011"/>

    <!--登录账号-->
    <add key="ClientID" value="010000035886"/>
    <!--登录密码 -->
    <add key="Password" value=""/>
    <!--行情登录密码-->
    <add key="MarketPassord" value="123"/>

    <!--强制认证码-->
    <add key="AuthCode" value="N3EHKP4CYHZGM9VJ"/>


    <add key="MarketDataFrontAddress" value="tcp://116.228.234.66:54513"/>
    <add key="TradeFrontAddress"      value="ssl://116.228.234.66:54509"/>
    <add key="QueryFrontAddress"      value="ssl://116.228.234.66:54511"/>

    <!--<add key="MarketDataFrontAddress" value="tcp://211.144.195.163:54513"/>
    <add key="TradeFrontAddress"      value="ssl://211.144.195.163:54509"/>
    <add key="QueryFrontAddress"      value="ssl://211.144.195.163:54511"/>-->

    <!--是否是实盘   1.实盘 -->
    <add key="isReal" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
